
@{
    ViewBag.Title = "Hakkımızda";
}


<section class="divider light-grey-bg" style="margin-top:0px!important">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="black-color gotham-bold animated fadeInDown animated-visible" data-animation="fadeInDown" data-animation-delay="300">Hakkımızda</h1>
                <p class="f-15 ln-21 gilroy-l black-color mt-20 mb-30 d-block fw-900 subtext animated fadeInDown animated-visible" data-animation="fadeInDown" data-animation-delay="300">
                    Orka Telekom iletişim hizmetleri Digiturk ürün ve hizmetlerinin satış yetkisine sahip satış kanalıdır. Online internet üzerinden ve mağazalar aracılığı ile müşterilere tarifeler ve paketlerin satışını gerçekleştirir. Merkezi istanbul çağrı merkezi ile iletişim kurmanıza olanak sağlar.
                </p>
            </div>

            <div class="col-12 text-center">
                <h2 class="black-color gotham-bold animated fadeInDown animated-visible" data-animation="fadeInDown" data-animation-delay="300">Çözüm Hizmetleri</h2>
            </div>
            <br />
            <br />
            <br />
            <div class="reading col-12 text-center">
                <ul>
                    <li>Eğitimli Çağrı Merkezi Personeli.</li>
                    <li>Alternatif hizmet desteği</li>
                    <li>Online canlı destek.</li>
                    <li>Hızlı aktivasyon ve hizmet kurulumu.</li>
                </ul>
                <p class="f-15 ln-21 gilroy-l black-color mt-20 mb-30 d-block fw-900 subtext animated fadeInDown animated-visible" data-animation="fadeInDown" data-animation-delay="300">
                    Size sağlayabileceğimiz hizmetlerden sadece bazılarıdır.
                </p>
            </div>
            <div class="col-12 text-center">
                <h2 class="black-color gotham-bold animated fadeInDown animated-visible" data-animation="fadeInDown" data-animation-delay="300">
                    Nasıl Çalışıyoruz?
                    <br />
                    <br />
                    <br />
                </h2>
            </div>
            <div class="col-12 text-center">
                <div id="akordeon">
                    <div class="card">
                        <div class="card-header" id="baslik1">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#basvuru" aria-expanded="false">
                                    Başvurunuzun Sonrası?
                                </button>
                            </h5>
                        </div>

                        <div id="basvuru" class="collapse" data-parent="#basvuru" style="">
                            <div class="card-body text-justify">
                                Online formlar veya iletişim kanalları üzerinden gelen müşterilerimizin geri dönüşleri sağlanarak paketler ve kampanyalar hakkında detaylı bilgilendirme yapılır. Hizmetin onaylanması durumunda müşteriden herhangi bir evrak alınmadan talep oluşturularak paketin girişi tamamlanır.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="baslik2">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#takip" aria-expanded="false">
                                    Başvuru Takibi!
                                </button>
                            </h5>
                        </div>
                        <div id="takip" class="collapse" aria-labelledby="headingTwo" data-parent="#takip" style="">
                            <div class="card-body text-justify">
                                Kampanyalardan herhangi biri için talep açıldığında hizmet tamamlana kadar (kurulum gerçekleşmesi) süreçleri müşteri temsilcilerimiz tarafından takip edilir. Aktivasyon süreci gerçekleşene kadar müşteri hizmetlerimiz tarafından takipte turulur.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <br />
                <br />
                <br />
                <p>
                    Almak istediğiniz hizmetlerin dışında daha uygun ve ekonomik paketler için temsilcilerimizden bilgi almayı unutmayın!
                </p>
            </div>
        </div>
    </div>
</section>

