
@{
    ViewBag.Title = "basarili";
}


<section class="succeed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="text-area text-center position-relative">
                    <div class="title white-color f-30 gilroy-eb fw-Bold">Artık Digiturk’e geçmek çok avantajlı!</div>
                    <p class="text white-color f-16 gilroy-l fw-900 mt-15">Formunuz başarıyla alınmıştır, en kısa zamanda dönüş yapacağız. Anasayfaya dönmek için <a class="back green-color" href="/">Tıklayınız.</a></p>
                    <img class="img-fluid succeed-logo animated fadeInDown animated-visible" src="~/dosyalar/Assets/images/base/succeed.svg" alt="Succeed Logo" data-animation="fadeInDown" data-animation-delay="300">
                </div>
            </div>
        </div>
    </div>
</section>



